<form>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="email" name="name" class="form-control" id="name" value="{{product.name}}" />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input
      type="text"
      name="price"
      class="form-control"
      id="price"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <input
      type="text"
      name="category"
      class="form-control"
      id="category"
      aria-describedby="emailHelp"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>